{% extends 'base_container.html' %}

{% load static %}

{% block content %}
    {% verbatim %}
        <div id="app">
            <form v-on:submit.prevent="submit()">
                <div class="card">
                    <div class="card-header"><h5 class="m-0">Cloudstack User</h5></div>
                    <div class="card-body">
                        <label>
                            <select name="csUser" v-model="formData.csUser" v-on:input="onInputCategory()">
                                <option v-for="csUser in cloudstackUsers" :key="csUser.id" v-bind:value="csUser">{{ csUser.url }}</option>
                            </select>
                        </label>
                    </div>
                </div>
                <div class="card mt-2">
                    <div class="card-header"><h5 class="m-0">Request</h5></div>
                    <div class="card-body">
                        <label>
                            <h5 class="card-title mb-0">Category</h5>
                            <select name="category" v-model="formData.category" v-on:input="onInputCategory()">
                                <option v-for="category in categoryList" :key="category.id" v-bind:value="category">{{ category.name }}</option>
                            </select>
                        </label>
                        <br/>
                        <template v-if="formData.category">
                            <label>
                                <h5 class="card-title mb-0">Command</h5>
                                <select name="command" v-model="formData.command" v-on:input="onInputCommand()">
                                    <option v-for="command in formData.category.commandList" :key="command.id" v-bind:value="command">{{ command.name }}</option>
                                </select>
                            </label>
                        </template>
                        <template v-if="formData.command">
                            <br/>
                            <h5 class="card-title mb-0">Parameters</h5>
                            <div class="card bg-light mt-2" v-for="parameter in formData.command.parameterList" :key="parameter.id">
                                <div class="card-header">
                                    <label class="mb-0" v-bind:value="parameter" v-bind:for="'parameter_' + parameter.id">
                                        <span><span v-if="parameter.required">*</span> <strong>{{ parameter.name }}</strong> - {{ parameter.description }}</span>
                                    </label>
                                </div>
                                <div class="card-body p-1">
                                    <input class="form-control" v-bind:id="'parameter_' + parameter.id" type="text" v-model="formData.parameters[parameter.id]" :required="parameter.required"/>
                                </div>
                            </div>
                        </template>
                    </div>
                </div>
                <div class="card mt-2" v-if="formData.command">
                    <div class="card-body">
                        <button class="btn btn-primary">Send</button>
                    </div>
                </div>
            </form>
            <div class="card mt-2" v-if="lastResponse">
                <div class="card-header">
                    <h3 class="m-0">Last Response</h3>
                </div>
                <div class="card-body">
                    <pre>{{ lastResponse }}</pre>
                </div>
            </div>
        </div>
    {% endverbatim %}
    <hr class="my-4"/>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Fetch categories</h5>
            <p class="card-text">This should only be done once if the category list is empty, and it might take some time.
            </p>
            <a class="btn btn-secondary btn-sm" href="/fetch_category_list_view">Fetch categories from doc</a>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'js/api.js' %}"></script>
{% endblock %}
