{% extends 'base_container.html' %}

{% load static %}

{% block content %}
    {% verbatim %}
        <div id="app">
            <form v-on:submit.prevent="submit()">
                <fieldset>
                    <legend>Cloudstack User</legend>
                    <label>
                        <select name="csUser" v-model="formData.csUser" v-on:input="onInputCategory()">
                            <option v-for="csUser in cloudstackUsers" :key="csUser.id" v-bind:value="csUser">{{ csUser.url }}</option>
                        </select>
                    </label>
                </fieldset>
                <br/>
                <fieldset>
                    <legend>Request</legend>
                    <label>
                        <span><strong>Category</strong></span>
                        <br/>
                        <select name="category" v-model="formData.category" v-on:input="onInputCategory()">
                            <option v-for="category in categoryList" :key="category.id" v-bind:value="category">{{ category.name }}</option>
                        </select>
                    </label>
                    <template v-if="formData.category">
                        <br/>
                        <br/>
                        <label>
                            <span><strong>Command</strong></span>
                            <br/>
                            <select name="command" v-model="formData.command" v-on:input="onInputCommand()">
                                <option v-for="command in formData.category.commandList" :key="command.id" v-bind:value="command">{{ command.name }}</option>
                            </select>
                        </label>
                    </template>
                    <template v-if="formData.command">
                        <br/>
                        <br/>
                        <span><strong>Parameters</strong></span>
                        <div class="form-group" v-for="parameter in formData.command.parameterList" :key="parameter.id">
                            <label v-bind:value="parameter" v-bind:for="'parameter_' + parameter.id">
                                <span><span v-if="parameter.required">*</span> {{ parameter.name }} - {{ parameter.description }}</span>
                            </label>
                            <input class="form-control" v-bind:id="'parameter_' + parameter.id" type="text" v-model="formData.parameters[parameter.id]" :required="parameter.required"/>
                        </div>
                    </template>
                </fieldset>
                <br/>
                <fieldset v-if="formData.command">
                    <button>Send</button>
                </fieldset>
            </form>
            <div v-if="lastResponse">
                <h3>Last Response:</h3>
                {{ lastResponse }}
            </div>
        </div>
    {% endverbatim %}
    <hr/>
    <a href="/fetch_category_list_view">Fetch categories from doc</a>
{% endblock %}

{% block js %}
    <script src="{% static 'js/api.js' %}"></script>
{% endblock %}
