{% extends 'base_container.html' %}

{% load static %}

{% block content %}
    <div class="card mb-2">
        <div class="card-header">
            <h1 class="m-0">API History</h1>
        </div>
        <div class="card-body">
            <p>Displaying {{ first }} - {{ last }} of {{ total }}. Most recent are shown first.</p>
            <a class="btn btn-secondary {% if prev_offset is False %}disabled{% endif %}" href="/api_history/{{ prev_offset }}/{{ limit }}" >Previous</a>
            <a class="btn btn-primary {% if next_offset is False %}disabled{% endif %}" href="/api_history/{{ next_offset }}/{{ limit }}">Next</a>
        </div>
    </div>
    {% for api_request in api_request_list %}
        <div class="card mb-2">
            <div class="card-header">
                <span class="badge badge-light"># {{ api_request.id }}</span> <span class="badge badge-info">{{ api_request.created_at }}</span> <span>{{ api_request.cloudstack_user_id.url }}</span>
                <br>
            </div>
            <div class="card-body">
                <h3 class="card-title">{{ api_request }}</h3>
                <pre>{{ api_request.result }}</<pre>
            </div>
        </div>
    {% endfor %}
    <div class="card mb-2">
        <div class="card-body">
            <a class="btn btn-secondary {% if prev_offset is False %}disabled{% endif %}" href="/api_history/{{ prev_offset }}/{{ limit }}" >Previous</a>
            <a class="btn btn-primary {% if next_offset is False %}disabled{% endif %}" href="/api_history/{{ next_offset }}/{{ limit }}">Next</a>
        </div>
    </div>
{% endblock %}
