{% extends 'base_container.html' %}

{% load static %}

{% block content %}
    <h1>Event Trigger List</h1>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Event Server</th>
                <th>Cloudstack User</th>
                <th>Conditions</th>
                <th>Command</th>
                <th>Parameters</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for event_trigger in event_trigger_list %}
                <tr>
                    <td>{{ event_trigger.id }}</td>
                    <td>{{ event_trigger.cloudstack_event_server_id }}</td>
                    <td>{{ event_trigger.cloudstack_user_id }}</td>
                    <td>
                        {% for condition in event_trigger.cloudstack_event_trigger_condition_ids.all %}
                            {{ condition }},
                        {% endfor %}
                    </td>
                    <td>{{ event_trigger.command_id }}</td>
                    <td>
                        {% for parameter in event_trigger.cloudstack_event_trigger_action_parameter_ids.all %}
                            {{ parameter }},
                        {% endfor %}
                    </td>
                    <td><a href="/cs_event_trigger_add/{{ event_trigger.id }}"><i class="fa fa-edit" title="Edit"/></a></td>
                    <td><a href="/cs_event_trigger_delete/{{ event_trigger.id }}"><i class="fa fa-trash" title="Delete"/></a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/cs_event_trigger_add">Add Event Trigger</a>
{% endblock %}
