{% extends 'base_container.html' %}

{% load static %}

{% block content %}
    <h1>Event Trigger</h1>
    {% verbatim %}
        <div id="event_trigger">
            <form v-on:submit.prevent="submit()">
                <div class="form-group">
                    <label for="event_server_id">Event Server</label>
                    <select id="event_server_id" class="form-control" required v-model="formData.event_server_id">
                        <option v-for="event_server in event_servers" :key="event_server.id" v-bind:value="event_server">{{ event_server.name }}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="cloudstack_user_id">Cloudstack User</label>
                    <select id="cloudstack_user_id" class="form-control" required v-model="formData.cloudstack_user_id">
                        <option v-for="cs_user in cs_users" :key="cs_user.id" v-bind:value="cs_user">{{ cs_user.name }}</option>
                    </select>
                </div>
                <h2>Conditions</h2>
                <div class="form-group" v-for="condition in formData.conditions">
                    <h3>Condition <i class="fa fa-trash" title="Remove" v-on:click="onClickRemoveCondition(condition)"></i></h3>
                    <div>
                        Event Data Key
                        <input class="form-control" type="text" required v-model="condition.data_key"/>
                    </div>
                    <div>
                        Operator
                        <select id="cloudstack_user_id" class="form-control" required v-model="condition.operator">
                            <option value="equals">Equals</option>
                            <option value="contains">Contains</option>
                            <option value="is-defined">Is defined</option>
                        </select>
                    </div>
                    <div v-if="condition.operator !== 'is-defined'">
                        Value
                        <input class="form-control" type="text" required v-model="condition.value"/>
                    </div>
                </div>
                <button class="btn btn-secondary" v-on:click.prevent="onClickAddCondition()">Add condition</button>
                <div class="form-group">
                    <h2>Action</h2>
                    <label>
                        <span><strong>Category</strong></span>
                        <br/>
                        <select name="category" v-model="formData.category" v-on:input="onInputCategory()">
                            <option v-for="category in categoryList" :key="category.id" v-bind:value="category">{{ category.name }}</option>
                        </select>
                    </label>
                    <template v-if="formData.category">
                        <br/>
                        <br/>
                        <label>
                            <span><strong>Command</strong></span>
                            <br/>
                            <select name="command" v-model="formData.command">
                                <option v-for="command in formData.category.commandList" :key="command.id" v-bind:value="command">{{ command.name }}</option>
                            </select>
                        </label>
                    </template>
                    <template v-if="formData.command">
                        <br/>
                        <br/>
                        <span><strong>Parameters</strong></span>
                        <div class="form-group" v-for="parameter in formData.command.parameterList" :key="parameter.id">
                            <h3><span v-if="parameter.required">*</span> {{ parameter.name }}</h3>
                            <span>{{ parameter.description }}</span><br/>
                            Operator
                            <select class="form-control" v-model="parameter.operator">
                                <option value="from-data-key">From Event Data Key</option>
                                <option value="set-value">Set Value</option>
                            </select>
                            Value
                            <input class="form-control" type="text" v-model="parameter.value"/>
                        </div>
                    </template>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    {% endverbatim %}
{% endblock %}

{% block js %}
    <script type="text/javascript">
        window.cs_api = { event_trigger_id: {{ event_trigger_id }} };
    </script>
    <script src="{% static 'js/event_trigger.js' %}"></script>
{% endblock %}
