{% extends 'base_container.html' %}

{% load static %}

{% block content %}
    <h1>Event History</h1>
    <p>Displaying {{ first }} - {{ last }} of {{ total }}.</p>
    <table class="table">
        <thead>
            <tr>
                <th>Server</th>
                <th>Command</th>
                <th>Result</th>
            </tr>
        </thead>
        <tbody>
            {% for event_log in event_log_list %}
                <tr>
                    <td>{{ event_log.cloudstack_event_server_id }}</td>
                    <td>{{ event_log.routing_key }}</td>
                    <td>{{ event_log.body }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if prev_offset is not False %}
        <a href="/api_history/{{ prev_offset }}/{{ limit }}">Previous</a>
    {% endif %}
    {% if next_offset is not False %}
        <a href="/api_history/{{ next_offset }}/{{ limit }}">Next</a>
    {% endif %}
{% endblock %}
