{% extends 'base_container.html' %}

{% load static %}

{% block content %}
    <h1>Event Trigger List</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Event Server</th>
                <th>Cloudstack User</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for event_trigger in event_trigger_list %}
                <tr>
                    <td>{{ event_trigger.cloudstack_event_server_id }}</td>
                    <td>{{ event_trigger.cloudstack_user_id }}</td>
                    <td><a href="/cs_event_trigger_delete/{{ event_trigger.id }}"><i class="fa fa-trash" title="Delete"/></a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/cs_event_trigger_add">Add Event Trigger</a>
{% endblock %}
