{% extends 'base_container.html' %}

{% load static %}

{% block content %}
    <h1>Add Cloudstack User</h1>
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="url">URL</label>
            <input id="url" class="form-control" type="text" name="url" value="{{ url }}" placeholder="URL" required>
        </div>
        <div class="form-group">
            <label for="api_key">API Key</label>
            <input id="api_key" class="form-control" type="text" name="api_key" value="{{ api_key }}" placeholder="API Key" required>
        </div>
        <div class="form-group">
            <label for="secret_key">Secret Key</label>
            <input id="secret_key" class="form-control" type="text" name="secret_key" value="{{ secret_key }}" placeholder="Secret Key" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}
